---
title: Proceso REQ
name: REQ. Desarrollo de los Requerimientos
description: "Consiste en entender los procesos y objetivos de negocio del cliente, adquirir el conocimiento de negocio y desarrollar la especificación de los Requerimientos Funcionales y No-Funcionales de la aplicación (nueva o a modificar). Incluye las actividades de: recolectar y entender los requerimientos, analizarlos, especificarlos y validarlos."
picture: "/images/processes/process.png"
process_picture: "/images/processes/es/process_req.png"
menus:
  - title: Descripción
    link: "#overview"
  - title: Diagrama
    link: "#process_diagram"
  - title: Proceso
    link: "#process"
  - title: Roles
    link: "#roles"
  - title: Artefactos
    link: "#artifacts"
  - title: AppDev
    link: "/"
---

<!-- Overview Section -->
<section id="overview">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <br/>
          <h2><%= current_page.data.name %></h2>
          <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">
        <%= image_tag current_page.data.picture, resize_to: "64x64", :class => 'img-responsive', :alt => current_page.data.name %>
      </div>
      <div class="col-lg-11">
        <%= current_page.data.description %>
      </div>
    </div>
  </div>
</section>

<!-- Overview Section -->
<section id="process_diagram">
  <div class="container">
    <div class="col-lg-12 text-center">
        <br/>
        <h2><%= current_page.data.name %></h2>
        <hr class="star-primary">
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag current_page.data.process_picture, :class => 'img-responsive', :alt => current_page.data.name %>
      </div>
    </div>
  </div>
</section>
