---
lang: pt
title: Career Plan

description: ""
picture: "/images/portfolio/path.png"
menus:
  - title: "Plan"
    link: "#career_plan"
  - title: "AppDev"
    link: "/es#portfolio"
---
= partial 'partials/header'

-# Course: Classroom
%section{ :id => 'career_plan' }
  %div{ :class => 'container' }
    %div{ :class => 'row' }
      %div{ :class => 'col-lg-12 text-center' }
        %h2= t(:career_plan)
        %hr{ :class => 'star-primary' }
    %div{ :class => 'row' }
      %div{ :class => 'col-lg-12' }
        %h4
          ¿Sabes cómo crecer profesionalmente dentro de la práctica de Application Development?
        %strong
          Sigue estos cuatro pasos:
        %ol
          %li Identifica qué Rol y Seniority que cubres actualmente.
          %li Selecciona la ruta que deseas seguir como Plan de Carrera.
          %li Identifica qué habilidades, conocimientos y certificaciones debes adquirir y/o fortalecer.
          %li Arma tu Plan de Carrera.
        = image_tag '/images/portfolio/career_plan/career-plan-example.png', :alt => ''
    %div{ :class => 'row' }
      %div{ :class => 'col-lg-12' }
        %h4
          ¿En cuál Rol paticipas en los proyectos?
        %strong
          Los proyectos de Application Development se basa en el PDSS (Proceso de Desarrollo de Software de Softtek) donde el éxito del mismo recae en la ejecución responsable del Rol en el que participas.
          %br
          Es importante que conozcas la definición de tu rol, para conocer las responsabilidades, actividades, habilidades, conocimientos y certificaciones que debes fortalecer.
        %br
        = image_tag '/images/portfolio/career_plan/career-plan-roles.png', :alt => ''
        = image_tag '/images/portfolio/career_plan/career-plan-example-testing-pm.png', :alt => ''
    %div{ :class => 'row' }
      %div{ :class => 'col-lg-12' }
        %h4
          ¿Qué rutas existen para tu Plan de Carrera?
        %strong
          Los Roles arriba descritos obedecen a un crecimiento profesional que se muestra en el siguiente Mapa con las rutas que puedes seguir en tu Plan de Carrera.
        = image_tag '/images/portfolio/career_plan/career-plan.jpg', :alt => ''
    %div{ :class => 'row' }
      %div{ :class => 'col-lg-12' }
        %h4
          ¿Qué necesitas para ser candidato al siguiente Rol de acuerdo con el Plan de Carrera?
        %strong
          Cada Rol tiene hasta seis niveles o seniorities, aunqué no necesitas ser Master para avanzar en tu Plan de Carrera.
          %br
          %br
          Cuando cubres el nivel Senior estarás habilitado como candidato al siguiente Rol en un seniority Junior; siempre y cuando cubras las habilidades y conocimiento definido para dicho Rol.
          %br
        = image_tag '/images/portfolio/career_plan/career-plan-seniorities.png', :alt => ''
